<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scanners</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':'#ffffff'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scanners</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="add-circle-outline" ios="chevron-add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="mrzScannerPremium()" data-desc="Any Card">
        <ion-icon name="document-attach"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="mrzScannerPremium()" data-desc="AFG MRZ">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>

</ion-content>



