.scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    content: "";
    display: block;
    left: 50%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .scan-button {
    margin: 0px;
    position: absolute;
    bottom: 100px;
    width: 100vw;
    height: 50px;
    z-index: 11;
  }

  .my-custom-class .action-sheet-group {
  background: #b8b5b5;
}

#container {
  display: block;
  text-align: center;
  margin: 20px 20px;
}

#results {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  white-space: pre-wrap
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-primary);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}